<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/nav.css}">

</head>
<body>
<nav class="navbar" th:fragment="navbar">
  <a class="brand" href="/">CodeFellow</a>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li sec:authorize = "!isAuthenticated()">
      <a active href="/signup">Sign Up</a>
    </li>
    <li sec:authorize = "!isAuthenticated()">
      <a href="/login">Login</a>
    </li>
    <li sec:authorize = "isAuthenticated()">
      <a href="/users">Follow Users</a>
    </li>
    <li sec:authorize = "isAuthenticated()">
      <a href="/feed">Feed</a>
    </li>
    <li  >
      <a href="/profile" class="nav-item" sec:authorize="isAuthenticated()" sec:authentication="name"></a>
    </li>
  </ul>
</nav>
</body>
</html>