body {
    background-color: #B3E5FC;
    border-radius: 10px
}

.card {
    width: 400px;
    border: none;
    border-radius: 10px;
    background-color: #fff
}

.stats {
    background: #f2f5f8 !important;
    color: #000 !important
}

.articles {
    font-size: 10px;
    color: #a1aab9
}

.number1 {
    font-weight: 500
}

.followers {
    font-size: 10px;
    color: #a1aab9
}

.number2 {
    font-weight: 500
}

.rating {
    font-size: 10px;
    color: #a1aab9
}

.number3 {
    font-weight: 500
}

form{
    width: 17%;
    margin: auto;
}

input[type = "submit"]{
    background-color: cyan;
    border: none;
    margin-top: 13px;
}

h3 {
    width: 17%;
    margin: 40px auto;
}

.post{
    border: 1px solid whitesmoke;
    background-color: lightgrey;
    list-style-type: none;
    width: 35%;
    margin: auto;
    border-radius: 15%
    ;
    text-align: center;
}

.user {
    width: 12%;
    margin: auto;
}