<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">

    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">

</head>
<body>
<nav th:replace="fragments/navfrag :: navbar"> </nav>
<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-3">
        <div class="d-flex align-items-center">
            <div class="image"> <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" class="rounded" width="155"> </div>
            <div class="ml-3 w-100">
                <h4 class="mb-0 mt-0" th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}"></h4> <span th:text="${user.getBio()}"></span>
                <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                    <div class="d-flex flex-column"> <span class="followers" th:text="${user.getUsername()}"></span> <span class="number2"></span> </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="form-style-5">
    <form method="post" th:action="@{/addpost}">
        <fieldset>
            <legend><span class="number">CFS</span> Tell us what you think!</legend>
            <input type="text" name="body" placeholder="Enter post">
        </fieldset>
        <input type="submit" value="Create Post" />
    </form>
</div>
<h3>
    My posts
</h3>
<ul th:each="post : ${user.getPosts()}">

    <li th:text="${post.getBody()}" class="post">

    </li>
</ul>
</body>
</html>