<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<nav th:replace="fragments/navfrag :: navbar"> </nav>
<div class="form-style-5">
    <form method="post" th:action="@{/signup}">
        <fieldset>
            <legend><span class="number">CFS</span> Sign Up now!</legend>
            <input type="text" name="username" placeholder="User Name">
            <input type="password" name="password" placeholder="Password">
            <input type="text" name="firstname" placeholder="First Name">
            <input type="text" name="lastname" placeholder="Last Name">
            <input type="date" name="dateofbirth" placeholder="Date Of Birth">
            <textarea name="bio" placeholder="About yourself"></textarea>

        </fieldset>
        <input type="submit" value="Sign Up" />
    </form>
</div>
</body>
</html>